@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.main{
    position: relative;
}
.cover{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url("./banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
/* background-color: black; */
}

nav{
    top: 0;
    position: fixed;
    width: 90%;
    /* background-color: red; */
    height: 8vh;
    display: flex;
    justify-content: space-between;
align-items: center;
}.part1 img{
width: 19vh;
}
.part2 img{
width: 5vh;
cursor: pointer;
}
.home{
    width: 100%;
    height: 100%;
    /* background-color: white; */
 padding: 180px 4vw;
 color: white;

}
.home h1{
    font-size: 10vmin;
}
.home .btnh{
    padding: 5px 16px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.764);
    color: white;
    cursor: pointer;

}
.home p{
     font-size: 2vw;
}
.login-cover,.reg-cover{
    width: 100%;
    height: 100%;
    /* background-color: white; */
display: flex;
justify-content: center;
align-items: center;
 color: white;
padding-top: 80px;
padding-left: 7px;
padding-right: 7px;
}
.login-cover form{
    width: 500px;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.819);
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
padding: 26px 30px;
}
.reg-cover form{
    width: 500px;
    height: 84vh;
    background-color: rgba(0, 0, 0, 0.819);
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
padding: 26px 30px;
}
form h2{
    font-weight: 550;
    padding-bottom: 18px;
}
form .inp{
width: 100%;
padding: 16px;
margin-bottom: 19px;
border-radius: 7px;
color: white;
border: none;
background-color: rgba(105, 101, 101, 0.399);
cursor: pointer;

}
form .inp::placeholder{
    color: #969696;
    font-size: 15px;
}
form button{
width: 100%;
padding: 16px;
margin-bottom: 19px;
border-radius: 7px;
border: none;
cursor: pointer;
background-color: #E50913;
color: white;
font-weight: 700;
font-size: 20px;
transition: 0.3s;
}
form button:hover{
    background-color: #e50914ce;
    color: rgba(255, 255, 255, 0.864);
}
.ful{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 7.8vw;
}.half1{
    font-size: 13px;

}.half2{
    font-size: 13px;
}
form h4{
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 18px;

}
form h4 a{
    color: white;
    text-decoration: none;
    font-weight: 700;
cursor: pointer;
}.po{
    font-size: 10px;
}.po a{
color: rgb(251, 2, 255)
;
text-decoration: none;
cursor: pointer;

}
@media screen and (max-width: 390px) {
  .reg-cover{
    width: 100%;
    height: 100vh;
    padding-top: 0px;
    padding: 0px;
    border-radius: 0px;

  }
  .login-cover{
    width: 100%;
    height: 100vh;
    padding-top: 0px;
    padding: 0px;
    border-radius: 0px;

  }
  .oik{
    display: none;
  }
}


::selection {
    background: red;
    color: white;
  }
  .movie-sec {
    width: 100%;
    background-color: black;
    z-index: 0;
    position: relative; /* Ensure relative positioning for pseudo-element */
  
  }

  #nowplaying-sec {
    padding: 0px 10px;
    box-shadow: rgba(255, 249, 249, 0.3) 0px 19px 38px, rgba(255, 255, 255, 0.22) 0px 15px 12px;
    z-index: 100;
    width: 100%;
    height: 20vh;
    /* background-color: blue; */
    display: flex;
   
    align-items: center;
    overflow-y: auto; /* Use 'auto' to show scrollbar only when content exceeds container */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    gap: 20px;
   
  }
  #popplaying-sec {
    padding: 0px 10px;
    box-shadow: rgba(255, 249, 249, 0.3) 0px 19px 38px, rgba(255, 255, 255, 0.22) 0px 15px 12px;
    z-index: 100;
    width: 100%;
    height: 20vh;
    /* background-color: blue; */
    display: flex;
   
    align-items: center;
    overflow-y: auto; /* Use 'auto' to show scrollbar only when content exceeds container */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    gap: 20px;
   
  }
  #topplaying-sec {
    padding: 0px 10px;
    box-shadow: rgba(255, 249, 249, 0.3) 0px 19px 38px, rgba(255, 255, 255, 0.22) 0px 15px 12px;
    z-index: 100;
    width: 100%;
    height: 20vh;
    /* background-color: blue; */
    display: flex;
   
    align-items: center;
    overflow-y: auto; /* Use 'auto' to show scrollbar only when content exceeds container */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    gap: 20px;
   
  }
  #upplaying-sec {
    padding: 0px 10px;
    box-shadow: rgba(255, 249, 249, 0.3) 0px 19px 38px, rgba(255, 255, 255, 0.22) 0px 15px 12px;
    z-index: 100;
    width: 100%;
    height: 20vh;
    /* background-color: blue; */
    display: flex;
   
    align-items: center;
    overflow-y: auto; /* Use 'auto' to show scrollbar only when content exceeds container */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    gap: 20px;
   
  }
  
  #nowplaying-sec::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
  #popplaying-sec::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
  #topplaying-sec::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
  #upplaying-sec::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
  .cap {
    position: relative; /* Ensure the container is positioned relatively */
    height: 100%;
    cursor: pointer;
    display: inline-block; /* Ensures inline display to respect height */
}

.cap img {
    width: 160px;
    height: 100%;
    border-radius: 5px;
    transition: transform 1s ease; /* Smooth transform animation */
}

.cap img:hover {
    transform: scale(0.8); /* Scale down the image on hover */
}

.cap h2 {
    position: absolute; /* Position text absolutely */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust to center perfectly */
    color: #ffffff; /* Text color */
    opacity: 0; /* Initially hide text */
    transition: opacity 0.3s ease; /* Smooth opacity transition */
font-size: 15px;
font-weight: 700;
}

.cap:hover h2 {
    opacity: 1; /* Show text on hover */
}
.pagbab{
    width: 100%;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 2vw;
}
.pagbab .btnpag{
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #E50913;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}
.pagbab .btnpag:hover{
    background-color: #ff000dc7;
    color: rgb(255, 255, 255);   
}
.disa {
    pointer-events: none; /* Prevents interaction */
    opacity: 0.5; /* Visual indication of being disabled */
  }.ci{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  .movie{
    width: 60%;
    height: 50vh;
    /* background-color: red; */
  }.poster{
    display: flex;
height: 100%;
position: relative;
  }
  .poster img{
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .poster a{
   z-index: 100;
   color: white;
   text-decoration: none;
   padding: 2vw 3vw;
   font-size: 30px;
  }
  footer{
    width: 100%;
   display: flex;
   justify-content: space-between;
   
  }footer .ol{
    color: white;
  }#movieTitle{
    z-index: 100;
    color: white;
    text-decoration: none;

    font-size: 20px;
  }.iufdy{
    z-index: 100;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 40px;
  }
 @media screen and (max-width: 680px) {
    .movie{
        width: 100%;
        height: 50vh;
      ;
      }
 }
 @media screen and (max-width: 400px) {
   .movie{
    height: 40vh;
   }#movieTitle{
    font-size: 15px;
   }
 }